@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/mattbackground.png);
        background-size: cover;
        background-position: center;
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
        text-align: center;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px; /* Fixed positioning issue */
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul.show {
        right: 0; /* This will toggle the menu open */
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
        text-align: center;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        padding: 10px;
    }

    .about-col-1 {
        margin-bottom: 30px;
        text-align: center;
    }

    .about-col-1 img {
        left: 0;
        max-width: 90%;
    }

    .about-col-2 {
        font-size: 14px;
        text-align: center;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
        text-align: center;
    }

    .services-list {
        grid-template-columns: 1fr; /* Single column layout on mobile */
    }

    .work-list {
        grid-template-columns: 1fr;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

    .btn {
        margin: 30px auto; /* Adjust for mobile */
        padding: 12px 30px;
    }
}

